/* Switzer Font Family - Correct @font-face declarations */
/* Source: Indian Type Foundry (Fontshare) - 18 styles (9 weights + italics) */

@font-face {
  font-family: "Switzer";
  src: local("Switzer Thin"),
    url("../../../static/fonts/Switzer/Switzer-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Thin Italic"),
    url("../../../static/fonts/Switzer/Switzer-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Extralight"),
    url("../../../static/fonts/Switzer/Switzer-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Extralight Italic"),
    url("../../../static/fonts/Switzer/Switzer-ExtralightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Light"),
    url("../../../static/fonts/Switzer/Switzer-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Light Italic"),
    url("../../../static/fonts/Switzer/Switzer-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Regular"),
    url("../../../static/fonts/Switzer/Switzer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Italic"),
    url("../../../static/fonts/Switzer/Switzer-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Medium"),
    url("../../../static/fonts/Switzer/Switzer-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Medium Italic"),
    url("../../../static/fonts/Switzer/Switzer-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Semibold"),
    url("../../../static/fonts/Switzer/Switzer-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Semibold Italic"),
    url("../../../static/fonts/Switzer/Switzer-SemiboldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Bold"),
    url("../../../static/fonts/Switzer/Switzer-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Bold Italic"),
    url("../../../static/fonts/Switzer/Switzer-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Extrabold"),
    url("../../../static/fonts/Switzer/Switzer-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Extrabold Italic"),
    url("../../../static/fonts/Switzer/Switzer-ExtraboldItalic.woff")
      format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Black"),
    url("../../../static/fonts/Switzer/Switzer-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: local("Switzer Black Italic"),
    url("../../../static/fonts/Switzer/Switzer-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
