@import "tailwindcss/theme.css" layer(theme);

@layer base {
  #tw-scope {
    @import "tailwindcss/preflight.css" layer(base);
  }
}

@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:is([data-theme="dark"] *));

@import "./fonts/index.css";

/* Component overrites */
@import "./header.css";
@import "./hero.css";

html {
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

html,
* {
  font-family: "Inter", sans-serif;
}

:root {
  --ifm-navbar-height: 4.75rem;
}

[data-theme="dark"] body {
  background-color: #1f1f21;
}
