.navbar__logo {
  height: 24px;
  width: 24px;
}

.navbar__logo::before {
  content: "";
  height: 24px;
  flex-basis: 24px;
  min-width: 24px;
  width: 24px;
  display: block;
  mask: url("../../static//img//logo.svg") no-repeat center;
  mask-size: contain;
  background-color: currentColor;
}

.navbar__logo img {
  display: none;
}

.theme-layout-navbar {
  padding: 0 120px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.navbar__items {
  display: flex;
}

.navbar__brand {
  margin-right: auto;
}

.navbar__link:last-child {
  margin-left: 25px;
  margin-right: auto;
}

.navbar--fixed-top {
  position: relative;
}

.navbar {
  background-color: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar__inner,
.navbar__items {
  background-color: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar__title {
  font-family: "Switzer";
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.418px;
  margin-left: -1px;
}

.header-github-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-github-link::before {
  content: "";
  height: 18px;
  flex-basis: 18px;
  min-width: 18px;
  width: 18px;
  display: block;
  mask: url("../../static//img//github.svg") no-repeat center;
  mask-size: contain;
  background-color: currentColor;
}

.header-github-link svg {
  display: none;
}
